<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <div class="head">
        <a href="#">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Menu 1</button>
                <div class="dropcontent">
                    <a href="">Sub menu 1</a>
                    <a href="">Sub menu 2</a>
                    <a href="">Sub menu 3</a>
                </div>
        </div>  
        <div class="dropdown">
            <button class="dropbtn">Menu 2</button>
                <div class="dropcontent">
                    <a href="">Sub menu 1</a>
                    <a href="">Sub menu 2</a>
                    <a href="">Sub menu 3</a>
                </div>
        </div>
            <div class="dropdown">
            <button class="dropbtn">Menu 3</button>
                <div class="dropcontent">
                    <a href="">Sub menu 1</a>
                    <a href="">Sub menu 2</a>
                    <a href="">Sub menu 3</a>
                </div>
        </div>    
        
    </div>
</body>
</html>