footer {
    background-color: $backgroundColor;
    color: $letterColor;
}
.footer {
    height: 70px;
    margin-top: 20px;
}
.footerItem{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.footer p{
    margin: 0px;
}